  <main ng-controller="Ctrl">
    <div class="form-wrapper" ng-show="loginView">
      <h2>Sign In</h2>
      <form>
        <div class="form-item">
          <label for="email">Email</label>
          <input type="email" ng-model="email" name="email" id="email" placeholder="hello@example.com" required />
        </div>
        <div class="form-item">
          <label for="password">Password</label>
          <input type="password" ng-model="password" id="password" name="password" placeholder="enter your password" required />
        </div>
        <div class="wrongInfo" ng-show="wrongInfo">
          <span>*Incorrect email address or password</span>
        </div>
        <p class="check">
          <input type="checkbox" name="checkbox" /> Remember Me
        </p>
        <div class="button-panel" ng-model="btn_login">
          <input type="submit" class="login-btn" title="Sign In" value="Sign In" ng-click="loginBtn()">
        </div>
      </form>
    </div>
  </main>
