  <div class="hero-other">
      <h2>Other</h2>
    <div class="wrap">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="What are you looking for?" ng-model="nameSearch">
        <button type="submit" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>


  <main ng-controller="spirits">
    <h2>Our Product</h2>
    <div class="items-wrap">
      <div class="item" ng-repeat="product in productsArray | filter:nameSearch | limitTo :elementsPerPage:actualPage">
        <img src="{{product.product.productImage}}" alt="{{product.product.productImage}} picture">
        <a href="#!item?productID={{product.product.productID}}&category={{product.category}}"></a>
        <aside>
          <h3>{{product.product.productName}}</h3>
          <div><span>{{product.product.productSize}}</span></div>
          <div><span>${{product.product.productPrice}}</span></div>
        </aside>
      </div>
    </div>

    <!-- PAGER -->
    <div class="pager">
      <ul class="pagination">
        <li class="pre"><button id="back" ng-click="btnClick($event)"><span>«</span></button></li>
        <li ng-repeat="number in paginationNumber">
          <button class="btn-pag " ng-click="btnClick($event, number)" ng-class="{ active: number == 1 }">{{number}}</button>
        </li>
        <li class="next"><button id="next" ng-click="btnClick($event)"><span>»</span></button></li>
      </ul>
    </div>
  </main>



